html{
  scroll-behavior:smooth !important;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  outline: 0 !important;
  background-color: #fff;
  color:#000;
  overflow-x: hidden !important;
}

.navbar {
  box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12) !important;
}

.nav-link, .navbar-brand {
  color: #fff !important;
}

.nav-link:hover {
  color:#c4c4c4 !important;
}

.headertext {
  font-size: 11.2vh;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.v-header {
  height: 75vh;
  display: flex;
  align-items: center;
  color: #fff;
}

.vcontainer {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin:auto;
  text-align: center;
}

.fullscreen-video-wrap {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.fullscreen-video-wrap video {
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 75vh;
  width: 99vw;
  position: absolute;
  top:0;
  left:0;
  background-color: #000;
  z-index: 1;
  opacity: 0.60;
}

.header-content {
  z-index: 2;
  text-align: left;
  margin: auto;
  word-wrap: break-word;
  padding: 1rem;
}

.header-content p {
  font-size: 2vh;
}

@media (max-width: 700px) {
  .header-content h1 {
    font-size: 10vh;
  }

  .header-content {
    padding: 2rem;
  }
}

@media (max-width: 550px) {
  .header-content h1 {
    font-size: 8vh;
  }

  .header-content p {
    font-size: 1.5vh;
  }

  .cta {
    margin-right: 6vw !important;
  }
}

.cta {
  width: 13vw;
  min-width: 85px;
  margin-bottom: 3vh;
  float: left;
}

.grow {
  transition: all ease-out 0.3s;
}

.grow:hover {
  transform: scale(1.2);
}

.features-cards {
  max-width: 95vw;
  padding-left: 3vw;
  padding-right: 3vw;
  margin: auto !important;
}

@media (max-width: 650px) {
  .features-cards {
    max-width: 95vw;
    padding-left: 3vw;
    padding-right: 3vw;
    margin: auto;
    font-size: 20px;
  }
}

#downicon {
  color:#000;
}

#downicon:hover {
  color:#363636;
}

.card {
  margin-bottom:1.5em !important;
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

/* Footer ========================= */

.footer {
  padding: 2em;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  height:auto;
}

.footerabs {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2em;
  font-size: 13px;
  background-color: #000;
  color: #fff;
  height:auto;
}

.purchaseheader {
  font-family: 'Shadows Into Light';
  font-size: 4vw;
}

.pbutton {
  box-shadow:  0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  width:55% !important;
  height:3em !important;
}

.pbutton:hover {
  box-shadow:  0px 6px 10px 0px rgba(0, 0, 0, 0.2), 0px 7px 7px 0px rgba(0, 0, 0, 0.14), 0px 8px 6px -2px rgba(0, 0, 0, 0.12);
}

.morehv:hover {
  background-color: #ededed !important;
  text-decoration: none;
}

.arrow {
  text-align: center;
  margin:0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.btn-primary:hover, .btn-secondary:hover, .btn-danger:hover, .btn-success:hover {
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.2) !important;
}

.btn-primary:focus {
    box-shadow: none !important;
    background-color:#007BFF !important;
}

.alerttext, .alerttextheader {
  margin-left: 1em;
  z-index:11 !important;
}

.alerttextheader, .alerttext, .alerticon {
  display:inline-block;
  z-index:11 !important;
}

.alertbanner {
  background-color: #000;
  color: #fff;
  padding: 2em;
  z-index:11 !important;
}

.warn {
  z-index:11 !important;
  color:#F8C64A;
}
