extends ./alert.pug
block content
  doctype html
  head
    meta(name='keywords' content='ultimatebot, minecraft bot, factions bot, wall checking, minecraft to discord, ultimate bot')
    meta(name='description' content='Factions wall checking bot with many features. Convert ingame commands into discord.')
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
    link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')
    script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
    link(rel='stylesheet' href='style.css')
    script(src='https://kit.fontawesome.com/3678a0ca48.js' crossorigin='anonymous')
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap' rel='stylesheet')
    link(rel='shortcut icon' href='/img/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/img/favicon.ico' type='image/x-icon')  
    title UltimateBot - Support
    link(rel='stylesheet' href='style.css')
  script.
    $(document).ready(function() {
    AOS.init();
    });
  #top
  // Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style='background-color:#191919 !important;')
    a.navbar-brand(href='/') <img src="/img/favicon.png" width='25' height='25'> UltimateBot
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right.ml-auto
        li.nav-item
          a.nav-link(href='/'  style='margin-right:0.5em;') Home 
        if user
          li.nav-item
            a.nav-link(href='/dashboard') Dashboard
          li.nav-item
            a.nav-link.btn-danger(href='/users/logout') Logout
        else
          li.nav-item
            a.nav-link(href='/users/login') Login 
          li.nav-item
            a.nav-link(href='/users/register') Register
  div(style='margin-bottom:4em;')
  // Support page
  div(class='container-fluid')
    .row
      .col-md-8
          .card(style='width:100%; padding:3%; border-radius:10px;' data-aos='fade-up' data-aos-duration='1100' data-aos-delay='0').center
            center
              img.img-fluid(src='img/discord.png' alt='discord logo')
            div(style='margin-bottom:1em;')
            center
              h2
                a(href='https://discord.gg/dvu54pE' target='_blank') https://discord.gg/dvu54pE
              center
              h5
                | All support is done over discord, join the server and use "-new" to open a support ticket.
              br
              br
      .col-sm-4
           center
               .card(style='width: 380px; padding:1%; border-radius:10px;' data-aos='fade-up' data-aos-duration='1100' data-aos-delay='0')
                    center
                        iframe(src='https://discordapp.com/widget?id=661666239701319701&theme=dark' width='350' height='500' allowtransparency='true' frameborder='0')
  // Footer
  div(style='margin-top:25%;')
  .container-fluid
    .row
      .col-md-12.footer
        center
          p
            | Copyright &copy; UltimateBot 2020 - Unauthorized redistribution of this application may result in legal action, fees, or your license being terminated. |
            strong
              a(href='/tos')  TOS 
            |  |
            strong
              a(href='/support' style='color:#0062c4;')  Support
  script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
